{% extends "base_market.html" %}
{% load i18n static %}

{% block title %}找回密码{% endblock %}
<p>{% trans "忘记密码？请输入注册邮箱，我们将会发送重置密码信件到您指定邮箱。" %}</p>

{% block content %}
<div class="container">
    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{% trans 'Email地址:' %}</label>
                {{ form.email }}
            </div>
            <input type="submit" value="{% trans '重置密码' %}" />
        </fieldset>
    </form>
</div>

{% endblock %}
