{% extends "base_market.html" %}

{% block title %}密码重置{% endblock %}

{% block content %}
<div id="container">
    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "请修正以下问题。" %}{% else %}{% trans "请修正一下几个问题。" %}{% endif %}
            </p>
            {% endif %}

            <p>{% trans "为了保证安全，请先输入旧密码，然后输入两次新密码。" %}</p>

            <fieldset class="module aligned wide">

                <div class="form-row">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                </div>

                <div class="form-row">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% trans 'Change my password' %}" class="default" />
            </div>

        </div>
    </form></div>

{% endblock %}
