{% extends 'base_market.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}{{ user }}的主页{% endblock %}
{% block content %}
<div class="container text-center vertical-middle-sm">
    <div class="row">
        <div class="col">
            <h1>个人主页</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col"><span>用户名：</span></div>
                <div class="col text-left">{{user.username}}</div>
            </div>
            <div class="row">
                <div class="col"><span>邮箱：</span></div>
                <div class="col text-left">{{user.email}}</div>

            </div>
            <div class="row">
                <div class="col"><span>生日：</span></div>
                <div class="col text-left">{{userprofile.birth}}</div>
            </div>
            <div class="row">
                <div class="col"><span>手机：</span></div>
                <div class="col text-left">{{userprofile.phone}}</div>
            </div>
            <div class="row">
                <div class="col"><span>机构：</span></div>
                <div class="col text-left">{{userprofile.company}}</div>
            </div>
            <div class="row">
                <div class="col"><span>职位：</span></div>
                <div class="col text-left">{{userprofile.title}}</div>
            </div>
            <div class="row">
                <div class="col"><span>关注资产：</span></div>
                <div class="col text-left">{{userinfo.field}}</div>
            </div>
            <div class="row">
                <div class="col"><span>风格：</span></div>
                <div class="col text-left">{{userinfo.style}}</div>
            </div>
            <div class="row">
                <div class="col"><span>微信：</span></div>
                <div class="col text-left">{{userprofile.weixin}}</div>
            </div>
        </div>
        <div class="col-6">
            <div style="max-width:100%;">
                <img id="head-portrait" src="{% static 'img/user_head_portrait/eva.jpg' %}">
            </div>
            <div style="margin-right:100px">
                <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">上传头像</button>
            </div>
        </div>
    </div>
    <div class="botton-line"></div>
    <!--用户页面下半部展示定制数据报告，提高可拓展性-->
    <!--<div></div>-->

</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/jquery-cropper.min.js'%}"></script>
<script>

    $(document).ready(function(){
        var $head_portrait = $('#head-portrait');
        $head_portrait.cropper({
            aspectRatio: 9/9,
            crop: function(event){
                console.log(event.detail.x);
                console.log(event.detail.y);
            }
        });
        var cropper = $head_portrait.data('cropper')
    })
</script>
{% endblock %}