{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<!-- Main Stylesheet File -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'lib/datepicker/css/bootstrap-datepicker.standalone.css' %}">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="{% static 'lib/datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'lib/datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
<style>
.searchbar-items {
    display:inline-block;
    margin-top:20px;
}
</style>
{% endblock %}
{% load static %}
{% block hero %}
<!--==========================
Hero Section
============================-->
<!--<section id="hero">-->
<!--<div class="hero-container">-->
<!--<div class="wow fadeIn">-->
<!--<div class="hero-logo">-->
<!--<img class="" src="{% static 'img/Logo_2.png' %}" alt="Imperial">-->
<!--</div>-->

<!--<h1>弘则策略 · 数据平台</h1>-->
<!--<h2>我们用 <span class="rotating">数据说话, 图交流, 心研究</span></h2>-->
<!--<div class="actions">-->
<!--{% if user.is_authenticated %}-->
<!--<a href="{% url 'account:user_page' %}" class="btn-get-started">个人页面</a>-->
<!--{% else %}-->
<!--<a href="{% url 'account:user_login' %}" class="btn-get-started">登录</a>-->
<!--<a href="{% url 'account:register' %}" class="btn-services">注册</a>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
{% endblock %}
{% block content %}
<!--==========================
Anomaly Section
============================-->
<section id="anomaly">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-10">
                <div class="row last">
                    <div class="col-md-12">
                        <h3 class="section-title">数据异动<button class="search-angle"><i class="fas fa-angle-down"></i></button></h3>
                        <div class="section-card card searchbar" id="searchbar" style="display: none;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 searchbar-items">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择资产</span>
                                            </div>
                                            <input type="text" class="form-control" id="classSelect">
                                            <div class="dropdown-menu" id="classdropdown"></div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择标的</span>
                                            </div>
                                            <input type="text" class="form-control" id="tradecodeSelect">
                                            <div class="dropdown-menu" id="tradedropdown"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 searchbar-items">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择日期</span>
                                            </div>
                                            <input type="text" class="form-control" id="dateSelect">
                                        </div>
                                    </div>
                                    <div class="col-md-6 searchbar-items">
                                        <button type="button" class="btn btn-info" style="float: right;">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span></span>
                        <div class="section-title-divider"></div>
                        <p class="section-description">每日17:30更新当日出现异动的数据，点击可查看该数据的详细信息。</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4><i class="far fa-clock"></i> {{curdate}}</h4>
                    </div>
                </div>

                {% for card in carddata %}
                {% if card.1 == 1 %}
                <div class="card">
                    <div class="card-body">
                        <h4>{{card.0}}</h4>
                    </div>
                </div>
                {% else %}
                <div class="card">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="card-chart-{{card.3}}" class="card-chart"></div>
                            <script type="text/javascript">
                                $(function() {card_chart('card-chart-{{card.3}}',{{card.0.0|safe}})})
                                // $(function() {card_chart('card-chart-{{card.3}}',{{card.0.0|safe}})})
                            </script>
                        </div>
                        <div class="col-md-3 card-body">
                            <div class="card-body">
                                <h5 class="card-title">{{card.0.1}}</h5>
                                <p class="card-text">{{card.0.2}}</p>
                                <!--<br>-->
                                <button type="button" class="btn btn-info align-bottom"
                                        onclick="chg_chart('{{card.3}}','{{curdate}}')"
                                        id="card-button-{{card.3}}">查看详情</button>
                                <p class="card-footer align-bottom align-text-bottom card-date"
                                   style="font-size:9px">{{ curdate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <button class="btn btn-outline-info btn-block" id="add-card" type="button" name="{{curdate}}">
                    <h4 style="text-align:center;">加载更多日期....</h4>
                </button>
            </div>
            <div class="col-md-2">
                <nav class="navbar navbar-light bg-light" id="sider-nav" style="position: sticky;position: -webkit-sticky;top:150px;">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="">复盘笔记</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="">市场情绪</a>
                            <a class="nav-link ml-3 my-1" href="">市场波动</a>
                            <a class="nav-link ml-3 my-1" href="">市场热度</a>
                            <a class="nav-link ml-3 my-1" href="">市场风格</a>
                        </nav>
                        <a class="nav-link" href="">最新数据</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="">商品/债期</a>
                            <a class="nav-link ml-3 my-1" href="">隔夜利率</a>
                            <a class="nav-link ml-3 my-1" href="">利差</a>
                        </nav>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--==========================
Team Section
============================-->
<!--<section id="team">-->
<!--<div class="container wow fadeInUp">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h3 class="team-title">Our Team</h3>-->
<!--<div class="section-title-divider"></div>-->
<!--<p class="team-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-1.jpg" alt=""></div>-->
<!--<h4>XD Tang</h4>-->
<!--<span>Team Leader</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-2.jpg" alt=""></div>-->
<!--<h4>Y Pan</h4>-->
<!--<span>Data Engineer</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-3.jpg" alt=""></div>-->
<!--<h4>GL Xu</h4>-->
<!--<span>Data Scientist</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-4.jpg" alt=""></div>-->
<!--<h4>BB Zhang</h4>-->
<!--<span>Analyst</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</section>-->

{% endblock %}

{% block js %}
{{ block.super }}
<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->

<script>
// Function for change card chart
function chg_chart(rankid,date){
    var btn = btn = $( '#card-button-'+rankid )
    var chart = $("#card-chart-"+rankid);
    chart.highcharts().destroy();
    if(btn.text() == '查看详情'){
        chart.css('height','450px');
        chart.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
            function(e) {
                $.ajax({
                    url:'{% url 'market:index' %}',
                    type:'GET',
                    data:{
                        'charttype':1,
                        'lastdate':date,
                        'rankid':rankid
                    },
                    success:function(data){
                        var data = data.chartdata
                        card_chart_redraw('card-chart-'+rankid,data[0]);
                        btn.text('收起')
                    },
                    error:function(e){
                        btn.text('出错啦')
                    }
                });

        });
    }else{
        chart.css('height','250px');
        chart.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
            function(e) {
                $.ajax({
                    url:'{% url 'market:index' %}',
                    type:'GET',
                    data:{
                        'charttype':0,
                        'lastdate':date,
                        'rankid':rankid
                    },
                    success:function(data){
                        var data = data.chartdata
                        card_chart('card-chart-'+rankid,data[0])
                        btn.text('查看详情')
                    },
                    error:function(e){
                        btn.text('出错啦')
                    }
                })
        });
    };
};
// Function for add more card
function add_cards(lastdate,btn){
    $.ajax({
        type:'GET',
        url:'{% url 'market:index' %}',
        data:{'lastdate': lastdate},
        success:function(data){
            var carddata = data.carddata;
            var curdate = data.curdate;

            // Change add card button name
            $('#add-card').attr('name', curdate);
            $('#temp').remove();

            // Create cards
            newhtml =
                '<div class="card">'+
                    '<div class="card-body">'+
                        '<h4><i class="far fa-clock"></i> '+curdate+'</h4>'+
                    '</div>'+
                '</div>'
            $(newhtml).insertBefore( btn );

            carddata.forEach(function(e){
                if(e[1] == 1){
                    newhtml =
                        '<div class="card">'+
                            '<div class="card-body">'+
                                '<h4>'+e[0]+'</h4>'+
                            '</div>'+
                        '</div>'
                }else{
                    edate = "'"+curdate+"'"
                    newhtml =
                        '<div class="card">'+
                            '<div class="row">'+
                                '<div class="col-md-9">'+
                                    '<div id="card-chart-'+e[3]+'" class="card-chart"></div>'+
                                '</div>'+
                                '<div class="col-md-3">'+
                                    '<div class="card-body">'+
                                        '<h5 class="card-title">'+e[0][1]+'</h5>'+
                                        '<p class="card-text">'+e[0][2]+'</p><br>'+
                                        '<button type="button" class="btn btn-info" '+
                                        'onclick="chg_chart('+e[3]+','+edate+')" '+
                                        'id="card-button-'+e[3]+'">查看详情</button>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
                }
                $.when( $(newhtml).insertBefore( btn ) ).then( card_chart('card-chart-'+e[3],e[0][0]) );
                //$(newhtml).insertBefore( btn );
                //$(function(){card_chart('card-chart-'+e[3],e[0][0]);})
            });
        }
    });
};
// Keyboard monitor
function keyboard_monitor(data,input){
    var dropdown = input.next();

    input.bind('keyup',function(e){
        var text = 0
        if (!dropdown.hasClass('show')){
            dropdown.addClass('show');
        }
        // Get input value
        if ((e.which>=48 && e.which<=57) || (e.which>=65 && e.which<=90) ||
            e.which ==190 || e.which == 229){
            text = 1;
        }
        if (e.which == 8){
            text = 2;
        }
        if (e.which == 13){
            $(this).blur();
            //text = 0
        }
        if ($.isNumeric(text) && text == 1){
            var dropdowninsert = '';
            var inputval = input.val();
            var candidates = data.filter(function (search) { return search.VALUE ==  inputval});

            $('.dropdown-item').remove();
            $.each(candidates,function(idx,val){
                dropdowninsert = dropdowninsert+
                    '<a class="dropdown-item" >'+val+'</a>';
            });
            dropdown.append(dropdowninsert);
            // Click dropdown
            $('.dropdown-item').click(function() {
                var item = $(this);
                var dropdown = item.parent();
                var input = dropdown.prev();

                dropdown.removeClass('show');
                input.val(item.text()+'001');
            });
        };
    });
};
//
function refresh_cards(){

};

// Main document
$(document).ready(function(){
    // Click dropdown
    //$('.dropdown-item').click(function() {
    //    var item = $(this);
    //    var dropdown = item.parent();
    //    var input = dropdown.prev()
    //    dropdown.removeClass('show');
    //    input.val(item.val()+'001');
    //});
    // Search bar
    var searchbar = $("#searchbar")
    searchbar.hide()
    // Search angle in top of this page
    $('.search-angle').click(function(){
        if($(this).css("transform") == 'none'){
            $(this).css("transform","rotate(180deg)");
            searchbar.show('fast',function(){
                var classinput = $('#classSelect');
                var tradecodeinput = $('#tradecodeSelect')
                // when assets class input focus and use key event
                var classkw = $.ajax({
                    url:'{% url 'market:keywords' %}',
                    type:'POST',
                    dataType: 'json',
                    data:{'infotable':['classinfo']},
                    success:function(keywords){
                        return keywords.keywords;
                    }
                });
                var tckw = $.ajax({
                    url:'{% url 'market:keywords' %}',
                    type:'POST',
                    dataType: 'json',
                    data:{'infotable':['indexinfo','stockinfo']},
                    success:function(keywords){
                        return keywords.keywords;
                    }
                });
                // Keyboard monitor for class input
                keyboard_monitor(classkw,classinput);
                // Keyboard monitor for trade code input
                keyboard_monitor(tckw,tradecodeinput);
                // Date select
                $('#dateSelect').datepicker({
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "zh-CN",
                    multidate: true,
                    multidateSeparator: " ",
                    daysOfWeekDisabled: "0,6"
                });

                tradecode = $('#tradecodeSelect')
                date = $('#dateSelect')
                // Click button
                $('#search-btn').click(function(){
                    $.ajax({
                        type:'GET',
                        url:'{% url 'market:index' %}',
                        data:{
                            'dateselected':date,
                            'tradecodeselected':tradecode,
                            'classselectd':classinput
                        },
                        success:function(data){
                            refresh_cards()
                        }
                    });
                });
            });
            //
        }else{
            $(this).css("transform","");
            searchbar.hide('fast',function(){});
        }
    })
    // Add more card
    $('#add-card').click(function(){
        var btn = $(this);
        var lastdate = btn.attr('name');
        $('<div class="card" id="temp"><div class="card-body"><h4>请稍后...</h4></div></div>').insertBefore( btn );
        add_cards(lastdate, btn);
    });
});
</script>
{% endblock %}

id