{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<!-- Main Stylesheet File -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'lib/datepicker/css/bootstrap-datepicker.standalone.css' %}">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="{% static 'lib/datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'lib/datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
<style>
.searchbar-items {
    display:inline-block;
    margin-top:20px;
}
</style>
{% endblock %}
{% load static %}
{% block hero %}
<!--==========================
Hero Section
============================-->
<!--<section id="hero">-->
<!--<div class="hero-container">-->
<!--<div class="wow fadeIn">-->
<!--<div class="hero-logo">-->
<!--<img class="" src="{% static 'img/Logo_2.png' %}" alt="Imperial">-->
<!--</div>-->

<!--<h1>弘则策略 · 数据平台</h1>-->
<!--<h2>我们用 <span class="rotating">数据说话, 图交流, 心研究</span></h2>-->
<!--<div class="actions">-->
<!--{% if user.is_authenticated %}-->
<!--<a href="{% url 'account:user_page' %}" class="btn-get-started">个人页面</a>-->
<!--{% else %}-->
<!--<a href="{% url 'account:user_login' %}" class="btn-get-started">登录</a>-->
<!--<a href="{% url 'account:register' %}" class="btn-services">注册</a>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
{% endblock %}
{% block content %}
<!--==========================
Anomaly Section
============================-->
<section id="anomaly">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-10">
                <div class="row last">
                    <div class="col-md-12">
                        <h3 class="section-title">数据异动<button class="search-angle"><i class="fas fa-angle-down"></i></button></h3>
                        <div class="section-card card searchbar" id="searchbar" style="display: none;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 searchbar-items">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择指标</span>
                                            </div>
                                            <div class="keyboard-monitor" id="colnameSelect">
                                                <input type="text" class="form-control">
                                                <div class="dropdown-menu"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 searchbar-items">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择标的</span>
                                            </div>
                                            <div class="keyboard-monitor" id="tradecodeSelect">
                                                <input type="text" class="form-control">
                                                <div class="dropdown-menu"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 searchbar-items">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">选择日期</span>
                                            </div>
                                            <div>
                                                <input type="text" class="form-control" id="dateSelect">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 searchbar-items">
                                        <button type="button" class="btn btn-info" id="search-btn" style="float: right;">
                                            搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-title-divider"></div>
                        <p class="section-description">每日17:30更新当日出现异动的数据，点击可查看该数据的详细信息。</p>
                    </div>
                </div>

                {% for card in carddata %}
                {% if card.1 == 'date'%}
                <div class="card anomaly">
                    <div class="card-body">
                        <h4><i class="far fa-clock"></i> {{ card.0}}</h4>
                    </div>
                </div>
                {% elif card.1 == 'nodata' %}
                <div class="card anomaly">
                    <div class="card-body">
                        <h4>{{card.0}}</h4>
                    </div>
                </div>
                {% else %}
                <!--<div class="card anomaly">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-9">-->
                            <!--<div id="card-chart-{{card.3}}" class="card-chart"></div>-->
                            <!--<script type="text/javascript">-->
                                <!--$(function() {card_chart('card-chart-{{card.3}}',{{card.0.0|safe}})})-->
                                <!--// $(function() {card_chart('card-chart-{{card.3}}',{{card.0.0|safe}})})-->
                            <!--</script>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 card-body">-->
                            <!--<div class="card-body">-->
                                <!--<h5 class="card-title">{{card.0.1}}</h5>-->
                                <!--<p class="card-text">{{card.0.2}}</p>-->
                                <!--&lt;!&ndash;<br>&ndash;&gt;-->
                                <!--<button type="button" class="btn btn-info align-bottom"-->
                                        <!--onclick="chg_chart('{{card.3}}','{{curdate}}')"-->
                                        <!--id="card-button-{{card.3}}">查看详情</button>-->
                                <!--<p class="card-footer align-bottom align-text-bottom card-date"-->
                                   <!--style="font-size:9px">{{ curdate }}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                {% endif %}
                {% empty %}
                <div class="card anomaly">
                    <div class="card-body">
                        <h4>抱歉...未请求到数据</h4>
                    </div>
                </div>
                {% endfor %}

                <button class="btn btn-outline-info btn-block date" id="add-btn" type="button" name="{{curdate}}">
                    <h4 style="text-align:center;">加载更多日期....</h4>
                </button>
            </div>
            <div class="col-md-2">
                <nav class="navbar navbar-light bg-light" id="sider-nav" style="position: sticky;position: -webkit-sticky;top:150px;">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link">复盘笔记</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1">市场情绪</a>
                        </nav>
                        <a class="nav-link">性感科学家了解一下</a>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--==========================
Team Section
============================-->
<!--<section id="team">-->
<!--<div class="container wow fadeInUp">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h3 class="team-title">Our Team</h3>-->
<!--<div class="section-title-divider"></div>-->
<!--<p class="team-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-1.jpg" alt=""></div>-->
<!--<h4>XD Tang</h4>-->
<!--<span>Team Leader</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-2.jpg" alt=""></div>-->
<!--<h4>Y Pan</h4>-->
<!--<span>Data Engineer</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-3.jpg" alt=""></div>-->
<!--<h4>GL Xu</h4>-->
<!--<span>Data Scientist</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="member">-->
<!--<div class="pic"><img src="img/team-4.jpg" alt=""></div>-->
<!--<h4>BB Zhang</h4>-->
<!--<span>Analyst</span>-->
<!--<div class="social">-->
<!--<a href=""><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href=""><i class="fa fa-google-plus"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</section>-->

{% endblock %}

{% block js %}
{{ block.super }}
<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->

<script>
// Function for change card chart
function chg_chart(rankid,date){
    var btn = btn = $( '#card-button-'+rankid )
    var chart = $("#card-chart-"+rankid);
    chart.highcharts().destroy();
    if(btn.text() == '查看详情'){
        chart.css('height','450px');
        chart.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
            function(e) {
                $.ajax({
                    url:'{% url 'market:index' %}',
                    type:'GET',
                    data:{
                        'charttype':1,
                        'lastdate':date,
                        'rankid':rankid
                    },
                    success:function(data){
                        var data = data.chartdata
                        card_chart_redraw('card-chart-'+rankid,data[0]);
                        btn.text('收起')
                    },
                    error:function(e){
                        btn.text('出错啦')
                    }
                });

        });
    }else{
        chart.css('height','250px');
        chart.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',
            function(e) {
                $.ajax({
                    url:'{% url 'market:index' %}',
                    type:'GET',
                    data:{
                        'charttype':0,
                        'lastdate':date,
                        'rankid':rankid
                    },
                    success:function(data){
                        var data = data.chartdata
                        card_chart('card-chart-'+rankid,data[0])
                        btn.text('查看详情')
                    },
                    error:function(e){
                        btn.text('出错啦')
                    }
                })
        });
    };
};
// Unique multidimention array by one column
function array_unique(array,colname){
    var col = [];
    for(n in array)
        col.push(array[n][colname]);
    return $.grep(array,function(el,index){
        return index == $.inArray(el[colname],col);
    })
};
// Keyboard monitor
$.fn.keyboard_monitor = function(options){
    var dom = this;
    var input = dom.children().first();
    var dropdown = input.next();
    var keywords = $(),recode = $();
    var infotable = options && options.infotable;
    var maxdropdown = options && options.maxdropdown;

    // when assets class input focus and use key event
    $.ajax({
        url:'{% url 'market:keywords' %}',
        type:'GET',
        dataType: 'json',
        data:{'infotable':options.infotable},
        success:function(data){
            keywords = $.parseJSON(data.keywords);
            recode = $.parseJSON(data.recode);
        }
    });

    input.bind('keyup',function(e){
        var dropdownitems = [],dropdowninsert = '';
        var inputval = input.val().toUpperCase();
        var text = 0
        //
        if (!dropdown.hasClass('show')){
            dropdown.addClass('show');
        }
        $('.dropdown-item').remove();
        // check input keycode
        if ((e.which>=48 && e.which<=57) || (e.which>=65 && e.which<=90) ||
            e.which ==190 || e.which == 229 || e.which == 8){   // press letters or number or .
            var candidates = $()
            if (inputval == ''){
                dropdownitems = [{TRADE_CODE:'',SEC_NAME:'空'}]
            }else if(keywords.length == 0){
                dropdownitems = [{TRADE_CODE:'',SEC_NAME:'数据正在加载'}]
            }else{
                candidates = keywords.filter(
                    function (search) {
                        //return search.VALUE.indexOf(inputval) != -1
                        re = new RegExp('^'+inputval+'+');
                        return re.test(search.VALUE);
                });
                // order optimize
                candidates = candidates.slice(0,maxdropdown);
                for(n in candidates){
                    dropdownitems.push({TRADE_CODE:candidates[n].TRADE_CODE,SEC_NAME:candidates[n].SEC_NAME});
                }
                dropdownitems = array_unique(dropdownitems,'TRADE_CODE');
                if(dropdownitems.length == 0){
                    dropdownitems = [{TRADE_CODE:'',SEC_NAME:'无匹配'}]
                }
            }
            $.each(dropdownitems,function(idx,val){
                dropdowninsert = dropdowninsert+
                    '<a class="dropdown-item" ><span class="secname">'+
                    val.SEC_NAME + '</span><span class="tradecode">'+
                    val.TRADE_CODE + '</span></a>';
            });
            dropdown.append(dropdowninsert);
        }
        if (e.which == 13){ // press Enter
            $(this).blur();

            dropdown.removeClass('show');
        }
        if (e.which == 40){ // press
            text
        }
        // Click dropdown

        $('.dropdown-item').click(function() {
            var item = $(this);
            var dropdown = item.parent();
            var input = dropdown.prev();
            var tradecode = item.children().last().text(),
                secname = item.children().first().text()
            dropdown.removeClass('show');
            if(tradecode != ''){
                input.val(secname);
                input.attr('name',tradecode)
            }
        });
    });
    input.focusout(function(){
        $(document).click(function(event){
            if(!$(event.target).is(".dropdown-item")){
                dropdown.removeClass('show');
            }
        });
    });
};
// Function for add card befor a button
$.fn.add_cards = function(options){
    var carddata = options && options.carddata;
    var date = options && options.date;
    var num = options && options.num;

    $('#temp').remove();

    if(date.lenght == 1){
        $('#add-btn').attr('name', date);      // Change add card button data
        $('#add-btn').text('加载更多日期...')
        // Create cards
        newhtml =
            '<div class="card anomaly">'+
                '<div class="card-body">'+
                    '<h4><i class="far fa-clock"></i> '+date+'</h4>'+
                '</div>'+
            '</div>'
        $(newhtml).insertBefore( this );

        carddata.forEach(function(e){
            if(e[1] == 1){
                newhtml =
                    '<div class="card anomaly">'+
                        '<div class="card-body">'+
                            '<h4>'+e[0]+'</h4>'+
                        '</div>'+
                    '</div>'
            }else{
                edate = "'"+date+"'"
                newhtml =
                    '<div class="card anomaly">'+
                        '<div class="row">'+
                            '<div class="col-md-9">'+
                                '<div id="card-chart-'+e[3]+'" class="card-chart"></div>'+
                            '</div>'+
                            '<div class="col-md-3">'+
                                '<div class="card-body">'+
                                    '<h5 class="card-title">'+e[0][1]+'</h5>'+
                                    '<p class="card-text">'+e[0][2]+'</p><br>'+
                                    '<button type="button" class="btn btn-info" '+
                                    'onclick="chg_chart('+e[3]+','+edate+')" '+
                                    'id="card-button-'+e[3]+'">查看详情</button>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'
            }
            $.when( $(newhtml).insertBefore( this ) ).then( card_chart('card-chart-'+e[3],e[0][0]) );
            //$(newhtml).insertBefore( this );
            //$(function(){card_chart('card-chart-'+e[3],e[0][0]);})
        });
    }
    if(num.lenght == 1){
        $('#add-btn').attr('name', date);      // Change add card button data
        $('#add-btn').text('加载更多内容...');
    }
};

// Main document
$(document).ready(function(){
    var searchbar = $("#searchbar");
    var wait = '<div class="card" id="temp"><div class="card-body"><h4>请稍后...</h4></div></div>';
    // Search bar
    searchbar.hide()

    // Add more cards
    $('#add-btn').click(function(){
        var sig = addbtn.attr('name');
        var colname,tradecode,date;
        var options = [];

        options.push({'sig' : sig});
        if (searchbar.css('display') != 'none'){
            colname = $('#colnameSelect').children().first().val();
            tradecode = $('#tradecodeSelect').children().first().val();
            date = $('#dateSelect').val();
            options.push({'colname' : colname})；
            options.push({'tradecode' : tradecode});
            options.push({'date' : date});
        }
        $(wait).insertBefore( $(this) );
        $.ajax({
            type:'PUT',
            url:'{% url 'market:index' %}',
            data:JSON.stringify({'options': options}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success:function(result){
                $(this).add_cards({
                    data: result.value
                });
            }
        });
    });

    // Refeash cards
    $('#search-btn').click(function(){
        var colname,tradecode,date;
        var options = [];

        colname = $('#colnameSelect').children().first().val();
        tradecode = $('#tradecodeSelect').children().first().val();
        date = $('#dateSelect').val();
        options.push({'colname' : colname})；
        options.push({'tradecode' : tradecode});
        options.push({'date' : date});

        // remove exist cards
        $.('.anomaly').remove()
        $(wait).insertBefore( $('#add-btn') );
        $.ajax({
            type:'POST',
            url:'{% url 'market:index' %}',
            data:JSON.stringify({'options': options}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success:function(data){
                $('#add-btn').add_cards({
                    data: result.value
                });
            }
        });
    });

    // Search angle in top of this page
    $('.search-angle').click(function(){
        if($(this).css("transform") == 'none'){
            $(this).css("transform","rotate(180deg)");
            searchbar.show('fast',function(){
                var colnameinput = $('#colnameSelect');
                var tradecodeinput = $('#tradecodeSelect')
                var date = $('#dateSelect')

                // when assets class input focus and use key event
                colnameinput.keyboard_monitor({
                    infotable:[''],
                    maxdropdown:10,
                })
                tradecodeinput.keyboard_monitor({
                    infotable:['stockinfo','indexinfo'],
                    maxdropdown:10,
                })

                // Date select
                date.datepicker({
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "zh-CN",
                    multidate: true,
                    multidateSeparator: " ",
                    daysOfWeekDisabled: "0,6"
                });
            });
            //
        }else{
            $(this).css("transform","");
            searchbar.hide('fast',function(){});
        }
    });
});
</script>
{% endblock %}