{% extends "base.html" %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% load static %}
{% block hero %}
<!--==========================
Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <div class="wow fadeIn">
            <div class="hero-logo">
                <img class="" src="{% static 'img/Logo_2.png' %}" alt="Imperial">
            </div>

            <h1>弘则策略 · 数据平台</h1>
            <h2>我们用 <span class="rotating">数据说话, 图交流, 心研究</span></h2>
            <div class="actions">
                {% if user.is_authenticated %}
                <a href="{% url 'account:user_page' %}" class="btn-get-started">个人页面</a>
                {% else %}
                <a href="{% url 'account:user_login' %}" class="btn-get-started">登录</a>
                <a href="{% url 'account:register' %}" class="btn-services">注册</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}

<!--==========================
Anomaly Section
============================-->
<section id="anomaly">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">极值异动</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">每日更新当前时点出现异动的数据，点击可查看该数据的详细信息。</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="anomaly-table" class="display" style="width:100%">
                </table>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-9">
                    <div id="card-chart-1" class="card-img" style="height:200px;margin:9 auto;"></div>
                </div>
                <div class="col-md-3 card-body">
                    <div class="card-body">
                        <h5 class="card-title">股票|沪深300|后复权收盘价</h5>
                        <p class="card-text">当前值处于近一年新低.</p>
                        <p class="card-text">2018-05-25</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 card-body">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-chart-left">
                        <div id="card-chart-2" style="height:200px;margin:9 auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 card-body">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-chart-left">
                        <div id="card-chart-3" style="height:200px;margin:9 auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 card-body">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-chart-left">
                        <div id="card-chart-4" style="height:200px;margin:9 auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
Team Section
============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="team-title">Our Team</h3>
                <div class="section-title-divider"></div>
                <p class="team-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                    <h4>XD Tang</h4>
                    <span>Team Leader</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                    <h4>Y Pan</h4>
                    <span>Data Engineer</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                    <h4>GL Xu</h4>
                    <span>Data Scientist</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                    <h4>BB Zhang</h4>
                    <span>Analyst</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Contact Us</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-push-2">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>A108 Adam Street<br>New York, NY 535022</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>info@example.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>
            </div>

            <div class="col-md-5 col-md-push-2">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
function card_chart(id,data,title){
    Highcharts.chart(id, {
        title: {
            text: title,
            align: 'left'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: ''
            },
            gridLineWidth:0,
            labels:{
                enabled:false
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'USD to EUR',
            data: data
        }]
    });
};
$(document).ready(function(){

    $.getJSON('https://cdn.rawgit.com/highcharts/highcharts/057b672172ccc6c08fe7dbb27fc17ebca3f5b770/samples/data/usdeur.json',
        function(data){
            card_chart('card-chart-1',data,'股票|沪深300|后复权收盘价')
        }
    );


})
</script>
{% endblock %}