<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %}弘则策略·数据平台{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

	<!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">

	{% load static %}

	<!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
	<link href="{% static 'img/hzicon.ico' %}" rel="shortcut icon">
	{% block css %}
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!-- Load JQuery -->
	<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
	{% endblock %}
	<!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body data-spy="scroll" data-target="#sider-nav" >
<div id="preloader"></div>
{% block hero %}
{% endblock %}
{% include 'header.html'%}
{% block content %}
{% endblock %}
<!--==========================
Footer
============================-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					&copy; <strong>弘则弥道（上海）投资咨询有限公司</strong>。<a>免责声明</a></p>
				</div>
				<div class="copyright">地址：上海浦东新区世纪大道210号21世纪中心大厦12层1206室 电话：86-21-61645300</div>
				<div class="credits">
					<!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                    -->

					<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=0ngVwsl2HTEDATgCVD-858OqCLsZkaoW9yGG1OnFNVHTe-eoLRyf!1024627951">沪ICP备15035458号-1</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% block js %}
<!-- Required JavaScript Libraries -->
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
<script src="{% static 'lib/easing/easing.js' %}"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'contactform/contactform.js' %}"></script>
{% endblock %}

</body>

</html>