<footer class="blog-footer">
    <p>本产品由<a href="https://getbootstrap.com/">@弘则策略</a>倾力打造。更多资讯可继续关注本平台，或联络<a href="#">销售</a>。<a>免责声明</a></p>
    <!--<p>-->
    <!--<a href="#">返回顶部</a>-->
    <!--</p>-->
    <p>地址：上海浦东新区世纪大道210号21世纪中心大厦12层1206室 电话：86-21-61645300</p>
    <p>Copyright © 弘则弥道（上海）投资咨询有限公司</p>
    <p><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=0ngVwsl2HTEDATgCVD-858OqCLsZkaoW9yGG1OnFNVHTe-eoLRyf!1024627951">
        沪ICP备15035458号-1
    </a></p>

</footer>