{% load static %}
<!--==========================
Header Section
============================-->
<header id="header">
	<div class="container">

		<div id="logo" class="pull-left">
			<a href="#hero"><img src="{% static 'img/Logo_2.png' %}" alt="" title="" /></img></a>
			<!-- Uncomment below if you prefer to use a text image -->
			<!--<h1><a href="#hero">Header 1</a></h1>-->
		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li class="menu-active"><a href="#hero">首页</a></li>
				<li class="menu-has-children"><a href="#anomaly">市场多维</a>
					<ul>
						<li><a href="{% url 'market:market' %}">极值异动</a></li>
						<li class="menu-has-children"><a href="#">立体数据</a>
							<ul>
								<li><a href="#">短期波动</a></li>
								<li><a href="#">中期趋势</a></li>
								<li><a href="#">长期价值</a></li>
								<li><a href="#">基金分析</a></li>
								<li><a href="#"></a></li>
							</ul>
						</li>
						<li><a href="#">长期波动</a></li>
					</ul>
				</li>
				<li><a href="#team">团队</a></li>
				<li><a href="#contact">联系我们</a></li>
			</ul>
		</nav>
		<!-- #nav-menu-container -->
	</div>
</header>
<!-- #header -->