{% extends "base_market.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'market:index' %}">首页</a>
            <a class="p-2 text-muted" href="{% url 'market:market' %}">短期波动</a>
            <a class="p-2 text-muted" href="#">中期趋势</a>
            <a class="p-2 text-muted" href="#">长期价值</a>
            <!--<a class="p-2 text-muted" href="#">估值</a>-->
            <!--<a class="p-2 text-muted" href="#">宏观</a>-->
            <!--<a class="p-2 text-muted" href="#">其他市场</a>-->
            <!--<a class="p-2 text-muted" href="#">量化</a>-->
            <!--<a class="p-2 text-muted" href="#">内部</a>-->
        </nav>
    </div>
    <main role="main" class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0" style="min-width:1200px;">
                <h1 class="display-4 font-italic">弘则首家在线研究平台上线啦</h1>
                <p class="lead my-3">性感科学家24小时在线研究</p>
                <p class="lead mb-0"><a href="{% url 'market:index' %}" class="text-white font-weight-bold">点击了解 &raquo;</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 main-homepage">
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                    最新动态
                </h3>
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">产业</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">鸡周期的产业数据研究</a>
                        </h3>
                        <div class="mb-1 text-muted">Mar 12</div>
                        <p class="card-text mb-auto">供应能力扩张、需求趋稳、生猪价格承压的大背景下，肉鸡价格从绝对与相对角度出发都难看到趋势性上涨行情。但考虑到种鸡存栏不可能一蹴而就，下游未明显看到需求改善前上游的补栏行为会相对缓慢，因此我们认为存在季节性供需错配带来的机会。</p>
                        <a href="#">详细内容</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                </div>
            </div>
            <div class="col-4 siderbar-homepage">
                <!--<div class="p-3 mb-3 bg-light rounded">-->
                <!--<h4 class="font-italic">负责人</h4>-->
                <!--<p class="mb-0">唐小东：<em>186-0178-8171</em></p>-->
                <!--<p class="mb-0">潘　越：<em>188-0176-0276</em></p>-->
                <!--<p class="mb-0">许公磊：<em>156-0180-3561</em></p>-->
                <!--</div>-->
                <div class="p-3">
                    <h4 class="font-italic">复盘笔记</h4>
                    <div id='calendar'></div>
                    <!--<ol class="list-unstyled mb-0">-->
                    <!--<li><a href="#">2018-03-12</a></li>-->
                    <!--<li><a href="#">2018-03-08</a></li>-->
                    <!--<li><a href="#">2018-03-07</a></li>-->
                    <!--<li><a href="#">2018-03-06</a></li>-->
                    <!--<li><a href="#">2018-03-05</a></li>-->
                    <!--<li><a href="#">2018-03-02</a></li>-->
                    <!--<li><a href="#">2018-03-01</a></li>-->
                    <!--<li><a href="#">2018-02-28</a></li>-->
                    <!--<li><a href="#">2018-02-27</a></li>-->
                    <!--<li><a href="#">2018-02-26</a></li>-->
                    <!--<li><a href="#">更多...</a></li>-->
                    <!--</ol>-->
                </div>

                <h2>浏览次数</h2>
                <p>共被浏览<em>{{ num_visits }}</em>次</p>

            </div>
        </div>
    </main>
</div>
{% endblock %}