{% extends 'object/base.html' %}

{% block title %}houtaiguanli{% endblock %}

{% block content %}
<div>
    <p class="text-right">
        <button class="btn btn-primary">add class</button>
    </p>
    <table class="table table-hover">
        <tr>
            <td>No.</td>
            <td>Name</td>
            <td>Operation</td>
        </tr>
        {% for n in name %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ n.name }}</td>
            <td>--</td>
        </tr>
        {% empty %}
        <p>This guy is too lazy to build something.</p>
        {% endfor %}
    </table>
</div>
{% endblock %}